# Copyright (c) 2020, Antmicro
CONFIG_SOC_XILINX_ZYNQMP_RPU=y
CONFIG_BOARD_XLNX_ZCU106_RPU=y
CONFIG_XIP=n

CONFIG_SERIAL=y
CONFIG_CONSOLE=y


# ARCH stack sizes.  Possibly excessive.
# Defaults seem to be roughly:
#
#   CONFIG_ARMV7_EXCEPTION_STACK_SIZE=256
#   CONFIG_ARMV7_FIQ_STACK_SIZE=256
#   CONFIG_ARMV7_SVC_STACK_SIZE=512
#   CONFIG_ARMV7_SYS_STACK_SIZE=1024
#
CONFIG_ARMV7_EXCEPTION_STACK_SIZE=8192
CONFIG_ARMV7_FIQ_STACK_SIZE=8192
CONFIG_ARMV7_SVC_STACK_SIZE=8192
CONFIG_ARMV7_SYS_STACK_SIZE=8192

# stuff added because ... ?

# enable thread stack info to help with above ...
CONFIG_THREAD_STACK_INFO=y

# enable MPU
CONFIG_ARM_MPU=y

# enable log
CONFIG_LOG=y
CONFIG_LOG_MODE_IMMEDIATE=y
CONFIG_LOG_BACKEND_UART=y
CONFIG_ETHERNET_LOG_LEVEL_DBG=y

# enable debug
CONFIG_DEBUG=y

