#
# Kconfig - Xilinx ZC706
#
# Copyright (c) 2021, Weidmueller Interface GmbH & Co. KG
# SPDX-License-Identifier: Apache-2.0
#

config BOARD_XLNX_ZC706
	bool "Xilinx ZC706 Board"
	depends on SOC_XILINX_XC7Z045
